@using MyBookShop_Utility
@model MyBookShop_Models.Book

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Genre.NameGenre.Replace(' ','_')">
    <!-- Card-->
    <div class="g" style="border:1px solid #222">
            <div class="form-group row">
                <div class="col-4" >
                    <img class="m-2 " width="135px" height="210px" src="@WC.ImagePath@Model.Image" alt="Card image cap">
                </div>
            
                <div class="card-body px-3 pt-3 col-4 pb-1">
                    <div class=""><label class="h6">@Model.Title</label></div>
                    <div class=""><label><span class="text-primary h5">@Model.Author.NameAuthor</span> </label> </div>
                    <div class="dropdown-divider"></div>
                    <div class=""><label><span class="h6">@Model.ShortDesc</span> </label> </div>
                </div>
            </div>
     
             <div class ="card-body p-1 px-3 row">
                            <div class="col-6">
                                <span class="badge p-2 border w-100" style="background-color:lavenderblush; color:black">@Model.Genre.NameGenre</span>
                            </div>
                         <div class="col-6 border-0">
                            <span class="badge p-2 border w-100" style="background-color:aliceblue; color:black">Цена @Model.Price Р.</span>
                         </div>
                        <div class="col-12 p-1">
                         <a asp-action="Details" asp-route-id="@Model.BookId" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Подробности</a>
                        </div>
             </div>
    </div>
</div>
