@model IEnumerable<MyBookShop_Models.Models.Book>

<h2 class="text-primary">Список книг</h2>
<div class="text-lg-end">
    <a asp-controller="Book" asp-action="Upsert" class="btn btn-primary">
        <i class="fa-regular fa-plus "></i> Добавить книгу
    </a>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Автор
                        </th>
                        <th>
                            Название
                        </th>
                        <th>
                            Жанр
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            Количество на складе
                        </th>

                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        var color = "";
                        if (@obj.Amount == 0) color = "color:red";

                        <tr>

                            <td width="25%">@obj.Author.NameAuthor</td>
                            <td width="25%">@obj.Title</td>
                            <td width="20%">@obj.Genre.NameGenre</td>
                            <td width="10%">@obj.Price</td>
                            <td width="10%" class="text-center" style=@color><strong>@obj.Amount</strong></td>

                            <td>
                                <div>
                                    <a class="btn btn-outline-info" asp-controller="Book" asp-route-id="@obj.BookId" asp-action="Upsert">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a class="btn btn-outline-danger" asp-controller="Book" asp-route-id="@obj.BookId" asp-action="Delete">
                                        <i class="fa-sharp fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }

    </div>

